.product-card:hover{
    border: 0.5px solid rgb(107, 145, 107);
    background-color: rgb(199, 247, 223);
}
.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  
   

}
.heading{
    text-align: center;
    color: rgb(29, 82, 62);
    margin: 0px;
    padding: 0px;
}
.product-id{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
    color: rgb(92, 91, 91);

}
.product-name{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}
.product-info{
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    width: 70%;
}
.icon{
    height: 13px;
}
.img{
    position: absolute;
    top: 7px;
    height: 130px;
    width: 100px;
    right: 7px;
}